// Night Hawk Palette
// Ordered by color (Hue, Saturation and Lightness)

$onyx: hsla(0, 0%, 6%, 1);
$nero: hsla(0, 0%, 15%, 1);
$montana: hsla(0, 0%, 23%, 1);
$ship-gray: hsla(0, 0%, 30%, 1);
$battleship-gray: hsla(0, 0%, 51%, 1);
$magnesium: hsla(0, 0%, 70%, 1);
$gallery: hsla(0, 0%, 94%, 1);
$vivid-tangerine: hsla(15, 90%, 72%, 1);
$chamois: hsla(36, 72%, 76%, 1);
$energy-yellow: hsla(50, 88%, 66%, 1);
$shalimar: hsla(51, 91%, 82%, 1);
$yellow-green: hsla(83, 64%, 66%, 1);
$riptide: hsla(169, 58%, 71%, 1);
$aurometalsaurus: hsla(180, 8%, 47%, 1);
$bermuda-gray: hsla(206, 23%, 52%, 1);
$malibu: hsla(206, 73%, 65%, 1);
$midnight: hsla(211, 96%, 9%, 1);
$link-water: hsla(218, 36%, 90%, 1);
$jordy-blue: hsla(220, 100%, 78%, 1);
$deep-koamaru: hsla(241, 35%, 30%, 1);
$bright-ube: hsla(277, 69%, 77%, 1);
$brink-pink: hsla(349, 100%, 69%, 1);
