// Night Hawk
// ------------------------------------------------------------------------------
// Authors
// -------
// Filipe Kiss <hello@filipekiss.com.br> http://github.com/filipekiss
// ------------------------------------------------------------------------------
// Last changed
// ------------
// 2019/04/26 18:24
// ------------------------------------------------------------------------------

$onyx: #0f0f0f;
$nero: #262626;
$mine-shaft: #3a3a3a;
$ship-gray: #4d4d4d;
$battleship-gray: #828282;
$magnesium: #b3b3b3;
$gallery: #f0f0f0;
$vivid-tangerine: #f89777;
$chamois: #eecb98;
$energy-yellow: #f5db5e;
$vis-vis: #fbefa9;
$yellow-green: #b6e072;
$riptide: #8ae0d0;
$aurometalsaurus: #6e8282;
$bermuda-gray: #6a89a1;
$malibu: #67b0e7;
$midnight: #01162c;
$link-water: #dbe2ee;
$jordy-blue: #8db3ff;
$deep-koamaru: #333268;
$bright-ube: #ce9ced;
$brink-pink: #ff637f;
