{% nighthawk_header "#" %}

# ┌━━━━━━━━━━━━━━━━━━━━┐
# │ TMUX Layout Config │
# └━━━━━━━━━━━━━━━━━━━━┘

{% include './nighthawk.colors.tmux.conf.njk' %}

# ┌━━━━━━━━┐
# │ Glyphs │
# └━━━━━━━━┘
glyph_idle="•"
glyph_bell="⟁"
glyph_prefixed="৸"
# ┌━━━━━━━━━━━━━━━┐
# │ Color Formats │
# └━━━━━━━━━━━━━━━┘
color_format_active="#[fg=${color_yellow}]"
color_format_reset="#[fg=${color_foreground},bg=${color_background}]"
color_format_idle="${color_format_reset}"
# ┌━━━━━━━━━━━━━━━━━━━━┐
# │ Status Bar Options │
# └━━━━━━━━━━━━━━━━━━━━┘
status_position="top"
status_justify="left"
status_attr="none"
# ┌━━━━━━━━┐
# │ Window │
# └━━━━━━━━┘
window_active="${color_format_reset}${color_format_active} #W ${color_format_reset}"
window_inactive="${color_format_reset}${color_format_idle} ${glyph_idle} ${color_format_reset}"

set -g status-position "${status_position}"
set -g status-justify "${status_justify}"
set -g status "on"
set -g status-attr "${status_attr}"
set -g status-bg "${color_background}"

# messages
set -g message-fg "${color_blue}"
set -g message-bg "${color_background}"
set -g message-command-fg "${color_magenta}"
set -g message-command-bg "${color_background}"

# panes
set -g pane-active-border-fg "${color_midGray}"
set -g pane-active-border-bg "${color_background}"
set -g pane-border-fg "${color_midGray}"
set -g pane-border-bg "${color_background}"

# put a line above the status
set -g pane-border-status top
set -g pane-border-format '─'

# selection
set -g mode-style "fg=${color_darkestGray},bg=${color_aurometalsaurus}"

# active / inactive pane bg
set -g window-style "bg=${color_darkGray}"
set -g window-active-style "bg=${color_background}"

# window status
setw -g window-status-fg "${color_gray}"
setw -g window-status-attr "none"
setw -g window-status-activity-bg "${color_darkGray}"
setw -g window-status-activity-attr "none"
setw -g window-status-activity-fg "${color_magenta}"
setw -g window-status-separator ""
setw -g window-status-bg "${color_black}"
setw -g window-status-format "${window_inactive}"
setw -g window-status-current-format "${window_active}"

set -g status-left-attr "none"
set -g status-left-length "100"
set -g status-right-attr "none"
set -g status-right-length "100"
set -g status-left "#[fg=${color_white}] #S #[fg=${color_darkGray}]│ "
set -g status-right "#[fg=${color_magenta},bg=${color_midnight}]$USER@#h #[fg=${color_gray}]│ #[fg=${color_white}]%d/%m/%Y %H:%M "
